[2020-03-03 01:36] Clemente420 opened #1 "I don't understand how this works and did not return as expected in the tutorial"
I don't understand how this works and did not return as expected in the tutorial

`Copy authtoken from https://dashboard.ngrok.com/auth
Successfully running []`

[2020-03-15 20:54] WassimBenzarti commented on #1
Sorry for the late response.
Did you set the ngrok authToken correctly ?

[2020-03-30 11:58] #1 closed

[2020-03-30 11:59] WassimBenzarti commented on #1
I closed the issue since there is no response. Feel free to reopen the issue if there is any further questions or problems.

Stay safe.

[2020-05-15 14:29] swainsubrat opened #7 "Not connecting to remote server"
[19:58:09.144] Log Level: 2
[19:58:09.146] remote-ssh@0.51.0
[19:58:09.146] linux x64
[19:58:09.148] SSH Resolver called for "ssh-remote+google_colab_ssh", attempt 1
[19:58:09.148] SSH Resolver called for host: google_colab_ssh
[19:58:09.148] Setting up SSH remote "google_colab_ssh"
[19:58:09.151] Acquiring local install lock: /tmp/vscode-remote-ssh-google_colab_ssh-install.lock
[19:58:09.157] Loo

[2020-05-22 10:25] bjourne opened #8 "Spurious IndexError"
Occasionally I'm getting this IndexError when running `launch_ssh('<secret>', '<secret>')

    /usr/local/lib/python3.6/dist-packages/colab_ssh/launch_ssh.py in launch_ssh(token, password, publish)
         47     publish_host(info[0].decode().strip())
         48
    ---> 49   if info[0]:
         50     # Extract the host and port
         51     host_and_port = re.match(r'.*://(.*):(\d+)\n', in

[2020-05-22 20:06] WassimBenzarti commented on #7
Can you please provide us with more information and the parameters you passed to the function

[2020-05-22 20:08] WassimBenzarti commented on #8
Are you sure parameters passed to the `launch_ssh()` function are correct? Did you pass the ngrok token?

[2020-05-23 06:24] xd003 opened #9 "Ability to include ngrok region along with token"
Firstly , i am pretty new to your repo, really great work .  it worked perfectly in first try
i just  had one feature request

 ngrok has different regions namely these :
us - United States (Ohio)
eu - Europe (Frankfurt)
ap - Asia/Pacific (Singapore)
au - Australia (Sydney)
sa - South America (Sao Paulo)
jp - Japan (Tokyo)
in - India (Mumbai)

choosing the nearest location helps us to reduce the l

[2020-05-23 13:57] bjourne commented on #8
I think so. If they weren't, wouldn't the software tell me so?

[2020-05-23 17:09] #8 closed

[2020-05-23 17:12] WassimBenzarti commented on #8
Yes. #10 fixes this issue by printing a message indicating that you should verify your authToken.

[2020-05-23 18:28] #9 closed

[2020-05-23 18:28] WassimBenzarti commented on #9
Happy to announce that we added support for the region parameter. You may now use the following example:
[code]

[2020-05-27 06:57] xd003 opened #13 "Prevent SSH idle timeout / disconnection"
Whenever i am connected to google colab using ssh , after like every 5,10 minutes i get disconnected
i have to again and again open my browser and open google colab website and setup everything again and connect using the newer port

For people who use google colab through their browser only , theres a trick to avoid getting disconnected
[code]
This javascript code keeps on tapping at connect butt

[2020-05-27 15:06] WassimBenzarti commented on #13
First of all, thank you @xd003 for your input. Your suggestions are making this library evolve. You will be mentioned in the next stable release.

Back to your question, I'm going to answer in different perspectives. So I hope it's clear.
### Technically speaking
1. The only way of keeping the Colab Notebook alive is by running a javascript script that clicks dynamically on the connect button (as

[2020-05-27 16:15] xd003 commented on #13
@WassimBenzarti
Yes i understand that javascript trick is not possible while accessing colab through ssh

On another note - I should point out here that such behavior does not violate Google Colab's Terms of Use, although it is not encouraged according to their FAQ (in short: morally it is not okay to use up all of the GPUs if you don't really need it).
Even i totally agree we should not abuse goo

[2020-05-27 19:35] WassimBenzarti commented on #13
Just to clear things out, the problem of Javascript approach has nothing to do with SSH. If you run the Javascript code and you close the web page on your browser, the script will simply stop because there is no Javascript runtime anymore (you can try that yourself on your notebook, this has nothing to do with colab-ssh ).

However if you keep your browser running, the Javascript will definitely k

[2020-05-28 13:52] xd003 commented on #13
@WassimBenzarti i understand that javascript approach has nothing to with ssh .i said its not useful for us as in someone who is already using colab through browser , there's no reason for him to close browser and might just as well run that javascript .For SSH users who connect through ssh typically won't keep browser open , hence i said javascript solution is not suitable for us unless someone k

[2020-05-31 16:00] xd003 commented on #13
I am closing this for now , if there's anything else .i would reply it here itself

[2020-05-31 16:00] #13 closed

[2020-05-31 18:14] sickerin commented on #7
Could you give more instructions for vscode? After running the cell in colab, I click on the vscode link. In the platform of host selection, I chose Linux, but it crashed, and I tried the macOS and Windows too but they also crashed.  I've attached the log below.
The error I got was "Could not establish connection to '0.tcp.ngrok.io'. The process tried to write to a nonexistent pipe."

My parameter

[2020-06-01 15:27] bjourne opened #14 "The COLAB_TPU_ADDR environment variable is not set"
This environment variable is important to have to use TPUs. It is set in the interactive notebook but appears to not be copied over to `.bashrc` so from ssh you can't use TPU. It would be good if the variable was added.

[2020-06-01 15:41] WassimBenzarti commented on #7
Can you please provide some information about your local machine's OS and the version of VSCode you are using ?

[2020-06-01 17:07] WassimBenzarti commented on #13
Apologies for the delay, I have been trying to reproduce the disconnections, in order to verify if the `ClientAliveInterval` option can fix the issue. I'm still testing.

I will get back to you once I finish the tests and the issue is clear.

[2020-06-01 17:38] #14 closed

[2020-06-01 17:44] WassimBenzarti commented on #14
The `COLAB_TPU_ADDR` environment variable is now added to the `.bashrc` when running `launch_ssh` so it will be available when accessing the VM via SSH.

[2020-06-03 03:56] sickerin commented on #7
Local Machine is running Windows 10, running vscode 1.45.1
Steps:

1. Copy the code cell, enter details, and set up ngrok & init_git. Follow instructions in the README for this repo.
2. Click on the vscode link generated by the cell.
3. Enter the password requested.
4. Successfully connected (most of the time)
5. Install the extension on colab -> needs reload -> reloads
6. Error, can't establish c

[2020-06-03 11:23] WassimBenzarti commented on #7
I have the same OS and exactly the same VSCode version.

Can you please clarify what you meant by "the" extension in step 5 ? and what do you mean by "... on colab" ?

Meanwhile, I tried several scenarios to reproduce the issue:
- **Scenario 1:** Click on the generated VSCode link without having the "Remote - SSH" VSCode extension installed
- **Scenario 2:** Successfully connect via the link and t

[2020-06-03 12:44] WassimBenzarti commented on #7
I would be glad to answer your questions if you can post these questions on stackoverflow using the following tag **colab-ssh** since they are not related to software bugs or issues.

[2020-06-03 14:11] bjourne opened #16 "Environment variables only available in interactive shells"
It looks like environment variables are added to the .bashrc file. The commands in this file are only run if bash is running as a login shell and interactively. If you try to automate ssh access to Colab then bash is not running interactively so the commands are not run. Therefore the environment variables do not get set.

I think it would be better to put the environment variables in `/etc/enviro

[2020-06-03 15:29] #16 closed

[2020-06-04 14:02] sickerin commented on #7
It's the second scenario with which I'm facing issues. My `.ssh/config` file is empty and my settings.json file is below.
[code]

[2020-06-05 09:18] WassimBenzarti commented on #7
Your `settings.json` looks normal, there is nothing out of the ordinary. I did try and I couldn't reproduce the issue with your `settings.json`. One last thing to test is the `ssh` command, this will let us know if the problem is with VSCode or some sort of SSH problem.

If you don't mind, would you please run the following command in your command line once VSCode displays the message `Error, can'

[2020-06-09 16:50] #7 closed

[2020-06-11 10:44] bjourne opened #18 "Missing environment variables"
I found a bunch more environment variables that would be useful to have set in the ssh session:

    CUDA_VERSION': '10.1.243'
    'CUDA_PKG_VERSION': '10-1=10.1.243-1'
    'CUDNN_VERSION': '7.6.5.32'
    'TPU_NAME': 'grpc://10.117.35.210:8470',
    'TBE_CREDS_ADDR': '172.28.0.1:8008',
    'XLA_FLAGS': ' --xla_cpu_enable_fast_math=false'})
    'XRT_TPU_CONFIG': 'tpu_worker;0;10.96.199.218:8470

Th

[2020-06-11 16:08] WassimBenzarti commented on #18
Thank you for your input.

You may now find [additional documentation](https://github.com/WassimBenzarti/colab-ssh-connector#other-useful-documentation) that covers [how to expose environment variables](https://github.com/WassimBenzarti/colab-ssh-connector/blob/master/docs/expose-env-variable.md#exposing-an-environment-variable).

[2020-06-12 14:10] bjourne commented on #18
Thanks for fixing the bug. But I wonder if the old api where the vars were set automatically wasn't more convenient?

[2020-06-13 14:48] WassimBenzarti commented on #18
@bjourne I'm going to need your help to identify all the required environment variables when using TPU. Please post them here and I will add them like you mentioned.

#### For anyone asking to add environment variables by default
I added `expose_env_variable` function so anyone can add his own optional environment variables. In my opinion, colab-ssh shouldn't expose environment variables other tha

[2020-06-15 04:42] bjourne commented on #18
Thank you. The ones that PyTorch and Keras uses for TPU access are: COLAB_GPU, COLAB_TPU_ADDR, TBE_CREDS_ADDR, TF_FORCE_GPU_ALLOW_GROWTH, TPU_NAME, XRT_TPU_CONFIG.

[2020-06-16 14:55] #18 closed

[2020-07-16 16:15] flych3r opened #23 "Error opening repository with the name ending with g"
**Describe the bug**
A clear and concise description of what the bug is.
On `init_git`, the way the repository name is extracted from the `repositoryUrl` causes repo names ending with g to cut the ending. This causes the option `[Optional] You can open the cloned folder using VSCode, by clicking <repo-name>` to open a non existing directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Ru

[2020-07-17 19:33] WassimBenzarti commented on #23
You are absolutely right, totally forgot about that. Thank you for the detailed explanation.

[2020-07-17 19:38] #23 closed

[2020-07-27 05:03] xd003 opened #25 "Add a Desktop Environment + VNC support"
Desktop environment support with VNC could very well be added . It will help people who intend to use OpenGl programs or just need GUI for some task not suited through command line. TurboVNC can be easily used with this purpose and it can be accessed through any VNC client. As far as DE is concerned , Xfce can be used being the lightest among all . If you need a reference for this implementation ,

[2020-07-27 15:09] WassimBenzarti commented on #25
Share with us the link, I would like to have a look at it. Thank you.

[2020-07-27 15:50] xd003 commented on #25
@WassimBenzarti

https://github.com/demotomohiro/remocolab/blob/master/remocolab.py

That's the file , as far as i can understand .. the part we are interested in starts from Line 272

I also got a summary stating how exactly it works , which will help you understand the concept even better

![Screenshot_20200727-211749_1](https://user-images.githubusercontent.com/26503185/88562874-dd79e080-d04e-1

[2020-07-27 16:01] xd003 commented on #25
On another note , if you remember you had added ngrok region support on feature request of mine. I dont see it anywhere mentioned currently in reamde file . I obviously do know about that feature and use it but many other users might not necessarily know about it . Preferably , you should add it in [getting started section](https://github.com/WassimBenzarti/colab-ssh#getting-started) as and maybe

[2020-07-31 15:21] rbracco opened #26 "Support for Reserved TCP Addresses"
I have access to an Ngrok reserved TCP address which would allow me to not have to update my .ssh_config every time I start a new session with colab_ssh. It would be great if a reserved TCP address were an optional argument to `launch_ssh`

I monkey patched `launch_ssh` to work with a reserved TCP address by editing the underlying Popen command to include an argument for remote address and it work

[2020-08-01 09:59] WassimBenzarti commented on #26
Hello @rbracco,
Welcome to the colab_ssh community. Thank you for your input.
The enhancement was well explained. We appreciate that.

I'm going to reopen the issue until we deliver a new release later today.

[2020-08-01 19:27] rbracco commented on #26
Thank you so much for the quick turnaround! I tested and it's working, thanks again!

[2020-08-01 19:27] #26 closed

[2020-08-10 06:49] WassimBenzarti commented on #25
I recently tested remocolab, and I think that it's a pretty good module. It's still maintained by the original author (he's last change was on August 8th 2020).

I believe that colab-ssh and remocolab can co-exist in the same notebook (I will test it even further).
I think we can add a tutorial in our docs that demonstrates how to integrate remocolab with colab-ssh and we can improve from there.

[2020-08-10 14:56] nikhilweee opened #29 "Ask for username and password when cloning private repositories without personal tokens."
**The issue**
The documentation for `init_git` says that personal tokens aren't *required* while cloning personal repositories. When I try to clone a private repository without a personal token, I get the wrong message that the repository has successfully been cloned. Instead I expect a prompt that asks for my username and password. I guess this information is not being relayed properly to the use

[2020-08-15 19:01] WassimBenzarti commented on #29
Hello @nikhilweee,
Thank you for the time you have put to explain the issue clearly.

Cloning a private repository shouldn't show `Successfully cloned the repository` message, it's misleading and will be fixed as soon as possible.

#### Making passwords mandatory
`init_git` is a function that can be called on non-personal public repositories, some people don't want to set any credentials in order

[2020-08-24 14:57] nikhilweee opened #30 "Warn against usage on other platforms."
This is not a feature request. This is more of a warning that's "good to have".

Although the repository clearly states that it's built for Google Colab, I recently tried using `colab-ssh` on Paperspace Gradient. As soon as I ran the relevant cell, my account was deactivated and I had to contact support to get it restored. I landed into trouble because Paperspace doesn't support ssh tunneling on G

[2020-08-26 06:11] WassimBenzarti commented on #30
Hello @nikhilweee, thank you for the effort.
I agree, I will create a pull request right away.

[2020-08-26 06:21] #30 closed

[2020-09-12 20:27] agj60 opened #33 "Create a VS Code link to the current working directory"
### The Issue
_**initi_git**_ assumes that the repository is _always_ cloned into the **/content** directory, creating an incorrect link for VS Code when it is not.

### The Solution
Replace **/content** with the current working directory, **{os.getcwd()}**, in the link creation line:

`link = f"vscode://vscode-remote/ssh-remote+root@{output['domain']}:{output['port']}{os.getcwd()}/{repo_name}"`

[2020-09-13 13:54] #29 closed

[2020-09-13 14:42] #33 closed

[2020-09-28 11:48] xd003 commented on #25
is there any update on the integration with remcolab to add desktop environment support ?

[2020-10-01 05:48] swapp1990 opened #37 "Is it possible to connect to google drive?"
Is it possible to mount google drive like we do in a colab notebook?

[2020-10-02 14:18] WassimBenzarti commented on #37
Hello @swapp1990 , welcome to colab-ssh community!

Can you please explain further more the issue/ feature you are requesting ?
As far as I know, you can mount google drive through the user interface of google colab.
Are you asking if it's possible to automate this mount ?

[2020-10-04 13:32] agj60 commented on #37
@swapp1990: just mount google drive, change to a directory in it and git will clone the repository in it instead of the colab vm. When VSCode is called it will point to the repository in the mounted goggle drive.

[2020-10-06 20:26] chadpetersen1337 opened #38 "It no longer works"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
The normal way of doing it, pasting/wring ngrok auth token and required password.
For the last 10 days i have been using this. But now it does not work

**Expected behavior**
I expected it to connect me colab's ssh session.

But instead it says "ssh_exchange_identification: C

[2020-10-07 11:03] simeneide commented on #38
same behaviour here.

[2020-10-07 16:13] aditya140 commented on #38
Same behavior for me.

[2020-10-08 06:25] CaptainTimothy opened #39 "A fix for "Not working" problem"
## A fix for "not working" problem

### Solution

#### For users:
Execute `apt update` before trying to install `openssh-server`

    !apt update
or

    import os
    os.system("apt update")

#### For developer&maintainers:
Add the code below into launch_ssh.py above line 38

    # Refresh apt database
    os.system("apt-get update 2>&1 >/dev/null")

[2020-10-08 06:28] CaptainTimothy commented on #38
Run this in code block first

    !apt update

I have reported it here: #39

[2020-10-08 14:46] xd003 commented on #38
Damm , i thought its just me
Can confirm it doesn't work , i tried in termius android app . It just keeps on loading forever
I will try on my pc with mobaxterm to see if it outputs some error

[2020-10-08 14:48] simeneide commented on #38
@CaptainTimothy 's update of apt works. Im back today :) Thanks

[2020-10-08 14:49] xd003 commented on #38
Yes this fixes it , just tried it now

[2020-10-09 07:53] WassimBenzarti commented on #38
Working on this issue, sorry for the inconvenience.

[2020-10-09 08:24] #38 closed

[2020-10-09 08:24] #39 closed

[2020-10-09 08:33] WassimBenzarti commented on #38
I want to thank everyone for reporting this issue.
Thank you @CaptainTimothy 🎉  for providing a temporary issue!

[2020-10-12 07:13] xd003 commented on #37
@WassimBenzarti i usually use a shortened url bash script to write all the python stuff to a .py file and i call that through that bash script itself ,so that i can connect very quickly

I have noticed if we mount drive using the colab GUI , it doesn't prompts for any code verification while Mounting drive through the cli ie..
[code]
It does prompts for a additional code verification . It kind of

[2020-10-15 11:21] WassimBenzarti commented on #37
@xd003 I totally share with you your vision, I wish that was possible through google colab API. Despite that, I will keep looking for other alternatives that we can rely on.

I did few tests in the last few hours, I can confirm that through the colab API, we are always asked for a verification code. But when it's launched from the Colab's UI, it only shows a popup to confirm as shown below.
![imag

[2020-10-16 14:21] Rushilotti opened #41 "Codeserver integration"
It would be nice to have vscode server integration along with ssh. Check this one https://github.com/abhishekkrthakur/colabcode

[2020-10-20 13:09] WassimBenzarti commented on #41
Hello @Rushilotti, Could you please explain what kind of integration do you suggest ?
Is there a feature in colab-ssh that you prefer to see along with colabcode ?

[2020-10-20 14:09] Rushilotti commented on #41
Hi @WassimBenzarti , there is this other project called code server where you can open vsode directly into the browser so that you don't need VS code installed. The project I linked above has automated it but the jupyter notebook  cell is always running in the background. It means I cant use that particular jupyter Notebook.  However sometimes in the browser the codeserver crashes  so it is better

[2020-10-20 19:26] WassimBenzarti commented on #41
Thank you @Rushilotti for the detailed explanation, you made it crystal clear :) .

First, I totally agree with you. I tried colabcode recently, it's an amazing library without a doubt. Special thanks to @abhishekkrthakur and the whole team who worked on it.

Unfortunately with Google Colab, we face several challenges. One of these challenges is idling. Whenever you stop using Google Colab, the no

[2020-10-21 04:22] Rushilotti commented on #41
Thank you for your reply. I understood what direction you are going. Looking forward to see the features you mentioned be implemented.

[2020-10-21 07:32] WassimBenzarti commented on #41
I will close this issue until the new version is released.

[2020-10-21 07:43] WassimBenzarti commented on #37
In case you have issues or suggestions that will improve the google drive mount experience, please reopen this issue.

[2020-10-21 07:43] #37 closed

[2020-11-04 19:54] dr-alberto opened #42 "Unable to connect Colab via colab_ssh using GPU runtime"
**Describe the bug**
I created a new notebook on colab using a runtime with GPU as hardware acelerator, and at the moment of connecting to colab-ssh

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://colab.research.google.com/
2. Create a new notebook
3. Click on Runtime -> Change runtime type -> GPU
4. Execute colab_ssh.launch_ssh('token', 'password')
4. See error

**Expected beh

[2020-11-04 23:03] WassimBenzarti commented on #42
Hello @dr-alberto,

Welcome to the colab-ssh community,
First of all, we are terribly sorry for inconvenience. Thank you very much for putting the time to explain the issue and provide us with detailed information.

I have tried to reproduce the issue with a new Google Colab notebook with the same steps you mentioned, but unfortunately I can't seem to reproduce it. The logs however indicate that t

[2020-11-05 15:24] dr-alberto commented on #42
Hello @WassimBenzarti
I've done what you said and it worked well, the problem was caused because I have two sessions created.
Thanks!.

[2020-11-05 17:11] WassimBenzarti commented on #42
Hello,

Thank you for getting back to confirm . Happy to help :)

Happy coding !

[2020-11-06 05:12] #42 closed

[2020-11-08 02:16] AndyLizd opened #43 "'ConnectionRefusedError' when GPU activated in the notebook"
It works fine if the GPU in colab is turned off. However, after I activate the GPU, 'ConnectionRefusedError'  occurs to me.

![image](https://user-images.githubusercontent.com/39282301/98455429-79cb7d00-213e-11eb-8a82-ae1db06c58ba.png)

[2020-11-08 14:23] WassimBenzarti commented on #43
Hello @AndyLizd, Welcome to the colab-ssh community !
Thank you for putting the time to submit the issue. :)

At first glance, I believe you have a similar issue to an old one, could you please check this issue #42 and tell me if it helps.

Have a nice day :)

[2020-11-08 20:41] AndyLizd commented on #43
Thank you, the problem is solved.

[2020-11-08 20:41] #43 closed

[2020-11-28 05:42] xd003 opened #45 "kex_exchange_identification: Connection closed by remote host"
I tried to connect to google colab via ssh using openssh
While it does runs properly intially and prints hostname , user and port at the end

But while connecting colab via ssh using the printed info , the connection is always failing . It returns the following error -
[code]
A quick google search about this issue lists this at the top if anyone wants to have a look - https://unix.stackexchange.co

[2020-11-28 16:48] WassimBenzarti commented on #45
Thank you @xd003 for reporting this issue. We will do our best to fix it as soon as possible :)

[2020-11-29 15:56] lamhoangtung commented on #45
@WassimBenzarti I use ngrok to port forward SSH into Google Colab instance regularly and experiencing the same problem.

Some other people have also confirm this issue in this: https://github.com/demotomohiro/remocolab/issues/79

I'm pretty sure Google had done something from their end since everything suddenly stop working. I already try changing from the default port 22 and the problem still the

[2020-11-29 19:53] WassimBenzarti commented on #45
Yes, I tried a number of things, but I had no luck with any of them!
I am gonna still debug the issue and try few other solutions.

Sorry for inconvenience, hopefully this issue won't persist.

[2020-12-01 19:33] #45 closed

[2020-12-01 19:36] WassimBenzarti commented on #45
Thank you @xd003 and @lamhoangtung for your input.

I highly recommend that you read the description of the pull request #46. Here's the relevant part that resolves this issue

This update provides two new functions equivalent to `launch_ssh` and `init_git`. To create the SSH tunnel, you would do the following:
[code]

[2020-12-04 09:48] Kabongosalomon opened #47 "Exception: It looks like something went wrong, this might be a problem with cloudflared"
I'm getting the following Exception when running this line `launch_ssh_cloudflared(password)`

[code]

[2020-12-04 17:16] MWassimBenzarti commented on #47
Hello @Kabongosalomon,
Happy to see you again :)

First of all, we are terribly sorry for inconvenience. I tried to reproduce the issue and the only two cases where I could produce this issue are:
- keeping another Google Colab session open
- Changing from CPU to GPU instance

To fix this issue, you can go to Runtime > Manage sessions inside Google Colab and you will see a list of running instance

[2020-12-04 17:17] WassimBenzarti commented on #47
Hello @Kabongosalomon,
Happy to see you again :)

First of all, we are terribly sorry for inconvenience. I tried to reproduce the issue and the only two cases where I could produce this issue are:
- keeping another Google Colab session open
- Changing from CPU to GPU instance

To fix this issue, you can go to Runtime > Manage sessions inside Google Colab and you will see a list of running instance

[2020-12-04 17:32] Kabongosalomon commented on #47
Hi @WassimBenzarti the solution kind of works. I had to run it several time after making sure that there was no session open.

Do we need to make sure that the Colab session stays active by having some script in the browser or there is a clever way to handle this ?

Thank you for a quick reply, it great talking to you.

[2020-12-04 19:54] AND2797 commented on #47
It seems like it works if the runtime is not GPU. Does this mean that I cannot use the GPU in this method?

[2020-12-04 20:57] Kabongosalomon commented on #47
Hi @AND2797 it's working with GPU. Everything is working fine now at my side.

[2020-12-05 00:52] WassimBenzarti commented on #47
### The error of cloudflared

I tried to investigate even further and wanted to identify the exact root of the problem. I didn't mean to be misleading with my previous response but I think I judged too fast.

The problem wasn't with the multiple sessions (that I talked about in my previous comment), I believe it's because of the cloudflared tunnel connections being too slow to be established, whic

[2020-12-05 22:06] #47 closed

[2020-12-08 19:04] rbracco opened #50 "How can we stop keyboard interrupt in colab from breaking SSH?"
**Is your feature request related to a problem? Please describe.**

First off, thank you so much for the fix to the recent changes that broke ngrok. You made it very easy to get it working again with cloudflared.

When I interrupt a cell in colab it also interrupts the SSH connection and causes VSCode Remote to disconnect from Colab. This then means I have to go run `launch_ssh_cloudflared(passwor

[2020-12-10 07:57] WassimBenzarti commented on #50
Hello @rbracco,

I hope you are doing well, welcome back :)
First, I am sorry for the late response.

Thank you for describing very well the issue, Yes I noticed this issue, and I honestly forgot to investigate it further more. Thank you for mentioning it and clarifying the alternatives you've considered.

I would love to review your PR.

I am not sure exactly where you find difficulties. But at f

[2020-12-10 16:50] rbracco commented on #50
Thank you for the reply and guidance. PR submitted with details here: #52

[2020-12-10 17:53] rbracco commented on #50
Oops, looks like tests failed. I'm not sure what's going on here. It doesn't appear to be in a file I changed. Any ideas?
![image](https://user-images.githubusercontent.com/47190785/101810198-7c771480-3ae6-11eb-8836-d0dee21ee25d.png)

[2020-12-11 13:13] rbracco opened #53 "Sponsor button is broken (Github only)"
**Describe the bug**
Funding.yml cant be parsed because user is not enrolled in Github Sponsors

**To reproduce**
Click the sponsor button in the repo

**Screenshots**
![image](https://user-images.githubusercontent.com/47190785/101907472-9d904180-3b88-11eb-964a-5c71d798eae7.png)

[2020-12-11 14:15] thegreatestminer opened #54 "NameError: name 'password' is not defined"
**Describe the bug**
The tunnel does not start and gives a "not defined error"

**To Reproduce**
Steps to reproduce the behavior:
1. Create new code cell.
2. Paste this:
[code]
3. Run the cell.

**Expected behavior**
Client machine configuration prompt should appear.

**Screenshots**
![image](https://user-images.githubusercontent.com/19188146/101913737-607c7d00-3b91-11eb-8a86-630edca62151.png)

[2020-12-12 02:14] zhaoguangyuan123 opened #55 "Permission denied: './cloudflared'"
**What i got:**

[code]

**What i run:**
[code]

PS: this happens just starting from yesterday

[2020-12-12 09:25] attacker007 commented on #54
Run like that:

[code]

[2020-12-12 13:37] WassimBenzarti commented on #53
Hello @rbracco,

Thank you for noticing that, unfortunately I am from Tunisia, and my country isn't supported yet by Github Sponsors.
![image](https://user-images.githubusercontent.com/20246795/101984382-6fdaf380-3c81-11eb-947f-e9e1838b4818.png)

I will hide this button until the Github Sponsors support comes.

If there is anyone interested in sponsoring this project, you may use the following IBA

[2020-12-12 13:37] #53 closed

[2020-12-12 13:44] WassimBenzarti commented on #54
Hello @thegreatestminer,
Welcome to the colab-ssh Community :)

I think @attacker007 answered your question. Thank you @attacker007, for clarifying that.

We should probably clarify that in the Getting Started guide.

[2020-12-12 13:52] WassimBenzarti commented on #55
Hello @zhaoguangyuan123
Thank you for using colab-ssh :)

Unfortunately, I can't seem to reproduce the issue for some reason. If you could please clarify the steps of reproduction, it will help us identify the issue.

Nevertheless, you can try this work around by adding the following line to your notebook:
[code]

Keep me updated if that works for you.

[2020-12-12 16:50] WassimBenzarti commented on #50
This indent error should be fixed now, you may now pull the changes from the master branch

[2020-12-12 23:01] rbracco commented on #50
I merged master and pushed again but tests are still failing due to me not having an ngrok token locally (I'm not sure how this is causing the CI on github to fail though). I added an ngrok token to the env locally but then started running into other issues. Any tips for what I need to do to get passing tests? Thank you!

[2020-12-13 02:01] zhaoguangyuan123 commented on #55
it is solved now. it is seems because i disable the access to the drive folder manually

[2020-12-13 02:33] attacker007 commented on #54
Hi @WassimBenzarti  it will be much more easier if you make short tutorial. As I am also having some confusion.

Thanks !!

[2020-12-13 04:05] thegreatestminer commented on #54
@attacker007 Works perfectly, thank you!!
@WassimBenzarti Thank you :D

[2020-12-13 04:05] #54 closed

[2020-12-13 19:03] WassimBenzarti commented on #55
Happy to hear that :)

[2020-12-13 19:03] #55 closed

[2020-12-13 19:43] WassimBenzarti commented on #50
### There two ways to put the Ngrok token
#### 1. Locally
For development purposes, we use `.env` file:
1. First, duplicate the `.env.example` file in the root folder and fill it with your token, make sure it's called .env
2. Install the packages in the `requirements.dev.txt` using
[code]
#### 2. Github Tests
Github lets you provide github secrets for this kind of use case. You can do the followin

[2020-12-13 19:49] WassimBenzarti opened #57 "Make a video tutorial on how to use colab-ssh"
1. Explain what colab-ssh does
2. Demo on the function `launch_ssh_cloudflared`
3. Demo on the function `init_git_cloudflared`
4. Security tips

[2020-12-14 05:31] attacker007 commented on #57
I am really looking forward to it. I hope you make it happen soon !!

[2020-12-15 16:20] rbracco commented on #50
Thanks for the feedback and guidance.

For 1, I added the .env and that fixed a lot of the problems. I'm still failing some tests that are unrelated to what I'm working on (included at bottom).

For 2. My expectation is that the secret `NGROK_TOKEN` you set up for the workflow would be supplied when someone makes a pull request. I don't have any actions/workflows on my fork but I tried adding the

[2020-12-16 22:13] ogahozy opened #58 "Name password not defined"
I got the above report when the
[code]
On colab

[2020-12-17 03:16] Nav-Prak commented on #58
Set the password using
`password = 'P@$$w0rd'`
before running
`launch_ssh_cloudflared(password)`

[2020-12-18 09:08] WassimBenzarti commented on #58
Welcome @ogahozy to colab-ssh community!

Thank you @Nav-Prak for responding to this issue :) it's cristal clear.

[2020-12-18 09:12] WassimBenzarti commented on #50
Hello @rbracco,
Sorry for getting back to you late,

That's odd, I thought the pull request action related to a forked repository uses the secrets from the forked repo.
I am sure there is a way to handle that, I will do some research.

[2020-12-18 09:19] #58 closed

[2020-12-18 10:15] WassimBenzarti commented on #50
Okay, so oddly this is an known feature request on Github.
I tried to make my own fork and tested all the different ways to do it.

I believe there are two ways to do this:
#### 1. Forked repository verification
  1. Create a branch on your forked repo and add a pull request to your master branch
  2. The action will be ran on your forked repo (and of course add the secret NROK_TOKEN to your repo)

[2020-12-18 10:20] #50 closed

[2020-12-21 14:05] rbracco commented on #50
Awesome, thanks again for your guidance and this awesome library. It has enabled me to do stuff in Colab I never thought would be possible.

[2020-12-28 17:57] rbracco opened #64 "Customizing SSHConfig to minimize friction"
**Is your feature request related to a problem? Please describe.**
The problem is extremely minor and something I can live with, but ideally would be able to solve since I connect to colab almost every day. Please let me know if any of the issues below are solved and if they would be desired features/improvements. Thank you.

The issue is that I need to do the following steps when connecting.
1. C

[2020-12-30 21:40] WassimBenzarti commented on #64
Hello @rbracco,

At first glance, I really like your ideas, but due to the fact that I am attending exams for the next 2 weeks, I would like to regretfully inform you that I won't be able to discuss in detail the pull requests and issues during this period.

Nevertheless it would be amazing if you could implement these features and discuss them further more later.

Thank you for your understanding

[2020-12-30 21:53] ogahozy opened #65 "cannot establish connection to jurisdiction-influences-opposite-external.trycloudflare.com"
hello bros, I follow the readme instruction to setup colab ssh connection on vscode without success. I initially used vscode 1.52(latest), I uninstall it and install 1.50 but without success as well.
this is my ./ssh/ setting on my windows 10:
Host *.trycloudflare.com
	HostName %h
	User root
	Port 22
	ProxyCommand "C:\Users\MINISTRY OF HEALTH\Downloads\cloudflared-stable-windows-amd64" access ssh

[2021-01-04 00:29] WassimBenzarti commented on #65
Hello @ogahozy,
Sorry for the inconvenience you faced.

From what I see in the logs, I think you may have chosen the wrong platform. When you are asked to choose the remote platform on VSCode, you must choose `Linux` since it's the Operating System of Google Colab.

I hope this helps. I will leave this issue open until your problem is resolved.

[2021-01-05 10:50] ogahozy commented on #65
Still experience the same issue even after selecting Linux

I am using windows 10

Issues:
[02:45:55.617] Log Level: 2
[02:45:55.630] remote-ssh@0.61.0
[02:45:55.631] win32 x64
[02:45:55.637] SSH Resolver called for "ssh-remote+rs-wellington-chocolate-lucas.trycloudflare.com", attempt 1
[02:45:55.640] "remote.SSH.useLocalServer": false
[02:45:55.641] "remote.SSH.showLoginTerminal": false
[02:45:55

[2021-01-05 15:14] WassimBenzarti commented on #65
Hey @ogahozy,

Can you try connecting using the SSH command in your terminal ? you can copy the SSH command from "SSH Terminal" section.

For example:
[code]

[2021-01-06 13:01] ogahozy commented on #65
PS C:\Users\MINISTRY OF HEALTH> ssh token-writer-classes-having.trycloudflare.com
CreateProcessW failed error:5
posix_spawnp: Input/output error
 I was return with this error from the ssh terminal

[2021-01-06 14:28] rbracco commented on #64
Thank you and happy new year. I also can't make this a priority at the moment but should have more time soon and as soon as I do I will report back and update.

[2021-01-06 22:09] ValeKnappich opened #66 "Shell latency"
Hi, I have started using this package and I think its great!

While working on the console, I noticed quite a bit of a latency (letters appear about 100-200ms after typing).

Is that normal? Do yo have an idea how to tackle it? I dont know if thats relevant, but im located in germany.

Cheers.

[2021-01-09 22:55] WassimBenzarti commented on #66
Hello @ValeKnappich,

Sorry for the inconvenience, unfortunately the latency is due to the fact that the SSH connection passes by the cloudflare servers (since we are using cloudflared). In other words, this is the route for the cloudflared SSH connection:
[code]
While direct SSH connection has the following route:
[code]
### The bad news
The bad news is that we don't officially support direct SSH

[2021-01-09 23:08] WassimBenzarti commented on #65
Hey @ogahozy,
Sorry for getting back to you this late, I am currently attending exams.

I believe the SSH command can't find the file cloudflared**.exe**, it could be because you don't have the complete path with the extension in your `~/.ssh/config` file

Try to change
- "C:\Users\MINISTRY OF HEALTH\Downloads\cloudflared-stable-windows-amd64"
to
- "C:\Users\MINISTRY OF HEALTH\Downloads\cloudflare

[2021-01-10 06:18] ValeKnappich commented on #66
Hi @WassimBenzarti ,

thanks for the very detailed answer! I'll give it some consideration given the caviats and maybe try it.

Just one more, completely off-topic question:
It is a common problem that colab disconnects you quickly when being inactive and normally you would paste a js snippet in the console to click the connect button. Do you plan on including a function in the repo that automates

[2021-01-10 07:59] WassimBenzarti commented on #66
I remember there was a discussion about this, I think it's in this [issue #13](https://github.com/WassimBenzarti/colab-ssh/issues/13). Check it out and tell me if you have any further questions or suggestions.

You can start a new discussion in the discussions page (on Github) if you feel that we missed something. And if you feel that we need to provide this feature you can share with us a working

[2021-01-10 07:59] #66 closed

[2021-01-12 08:59] ogahozy commented on #65
same issue after the amendment below:
# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host *.trycloudflare.com
	HostName %h
	User root
	Port 22
	ProxyCommand "C:\Users\MINISTRY OF HEALTH\Downloads\cloudflared-stable-windows-amd64.exe" access ssh --hostname %h

PS C:\Users\MINISTRY OF HEALTH> ssh snowboard-would-heaven-coalition.trycloudflare.com
CreateProcessW failed err

[2021-01-13 08:16] kilianovski opened #67 "Can't connect to colab: dial tcp: no such host"
**Describe the bug**
Can't connect to colab neither with VS code nor through terminal. Looks like cloudflare can't resolve hostname.

**To Reproduce**
Steps to reproduce the behavior:
1. !pip install colab_ssh --upgrade
2. from colab_ssh import launch_ssh_cloudflared
3. launch_ssh_cloudflared(password="<PASSWORD>")
4. Connect either from terminal (ssh manufacture-currently-hall-supporters.trycloud

[2021-01-14 11:46] kilianovski commented on #67
It works now. Don't know why. Maybe, there were temporary problems at cloudflare, or I rebooted my machine.

[2021-01-14 11:46] #67 closed

[2021-01-14 14:20] WassimBenzarti commented on #65
I successfully reproduced the issue. I fixed it by removing the double quotes. So instead of
[code]
try this:
[code]

[2021-01-15 23:37] WassimBenzarti opened #68 "VSCode Remote SSH extension"
**Describe the bug**
It's hard to figure out that using VSCode SSH link requires the VSCode Remote SSH Extension.

**Expected behavior**
The documentation should mention that you need the VSCode Remote SSH extension in order to use SSH connection on VSCode.

[2021-01-21 09:26] ogahozy commented on #65
got it working on my lubuntu OS instead of windows 10.
thanks. I will be closing it from here

[2021-01-21 09:26] #65 closed

[2021-01-29 08:11] PatternAlpha opened #69 "SSH not connecting (cloudflare and ngrok)"
**Describe the bug**
SSH tunnnel not connecting either by SSH tunnel in terminal or VS code. VSCode is executed as root user.

**To Reproduce**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/63852872/106248697-a2c94e80-6211-11eb-98db-b80d5d8b67e3.png)

**Questions**
Is Colab blocking SSH tunnel? If I try to connect either by ngrok or cloudflare, the ssh

[2021-01-29 10:34] chadpetersen1337 commented on #69
I can vouch for you, last time i used Colab's SSH tunnel was on the 28th January 2021. As of 29th January it isn't. I was using ngrok, this cloudflared method is extremely difficult. No YouTube tutorial you can find, even the available vague how to assumes that you're on Linux, which i find to be selfish.

Can someone post a YouTube tutorial on how to configure ArgoTunnel + GoogleColab on Windows?

[2021-01-29 11:28] attacker007 commented on #57
@WassimBenzarti Can you please update on this one !!

[2021-01-29 13:01] PatternAlpha commented on #69
this is a good tutorial on how to set it up:
https://medium.com/swlh/connecting-local-vscode-to-google-colabs-gpu-runtime-bceda3d6cf64

[2021-01-29 14:56] chadpetersen1337 commented on #69
The guy doing that tut uses Visual Studio, and his use case is code-editing or access. My use case is purely terminal access, i write commands on the terminal, and then run executable tools, so I will not have  ~/ssh/config that is embedded within Visual Studio.

Windows creates a config.yaml on the same directory as cloudflared.exe. When you first open the config.yaml, it contains two curly brace

[2021-01-29 16:41] AwaleSajil opened #70 "Connection to UNKNOWN port 65535: Unknown error"
Does any one get this error, and the ssh disconnects.
packet_write_wait: Connection to UNKNOWN port 65535: Unknown error

[2021-01-29 17:11] WassimBenzarti commented on #70
Hello @AwaleSajil,
Welcome to colab-ssh community ! :)

Could you please post the steps you followed and the OS you are using, so we can reproduce the issue.

Thank you!

[2021-01-29 17:41] WassimBenzarti commented on #57
Hello @attacker007,

I just finished most of my exams, I will do my best to upload a video this weekend or next week.

[2021-01-29 19:55] WassimBenzarti commented on #69
Hello @PatternAlpha,
Sorry for the inconvenience.

I can't reproduce the issue unfortunately, could you please describe the steps you followed so we can reproduce it?
and by the way thank you for sharing with us the Medium article, I think it's very useful.

@chadpetersen1337 Well we always aim to provide a way for Windows and Linux, I personally use Windows by the way. Sorry that you had to go th

[2021-01-30 08:15] PatternAlpha commented on #69
@WassimBenzarti nothing to be sorry for, thanks for the great repo!

Im using **FREE** colab accounts and this my step by step approach. Sorry this is going to be a long post :D.
Below I'll demonstrate how I connect to using these methods:

1. ngrok
2. Cloudeflare & VSCode
3. Cloudflare & SSH-tunnel

### **1. Connection using NGROK:**
**Colab code**
![image](https://user-images.githubusercontent.c

[2021-01-30 10:08] chadpetersen1337 commented on #69
I managed to get mine to connect.
I will advise you to take a slightly different approach.
Instead of using the tgz package, use a deb package.

Follow my steps:

wget https://bin.equinox.io/c/VdrWdbjqyF/cloudflared-stable-linux-amd64.deb
dpkg -i https://bin.equinox.io/c/VdrWdbjqyF/cloudflared-stable-linux-amd64.deb
cloudflared -V
cloudflared access ssh-config
cloudflared access ssh-config --hostn

[2021-01-30 15:42] PatternAlpha commented on #69
@chadpetersen1337  Thanks that works for me :)

@WassimBenzarti thanks for your help.. i Found my problem: I didnt unzip my .tgz file with the binary file inside of it (Shame). Now every thing works.

**### TLDR; Solution (Ubuntu):**

#Path that VScode uses to connect to Remote ssh
cd /home/<user>/.ssh
#download and extract
wget https://bin.equinox.io/c/VdrWdbjqyF/cloudflared-stable-linux-amd64.tg

[2021-02-01 22:23] WassimBenzarti commented on #69
Thank you @PatternAlpha for the detailed explanation. I am glad you resolved your issue :)

[2021-02-02 12:08] AwaleSajil commented on #70
Hi. Thanks for the quick response.
I am using Windows 10.
I setup the argo tunnel as instructed. (Downloaded the  Cloudflared (Argo Tunnel), created ssh config as stated)
Then i used terminal to connect to ssh. Everything works great !.
I am sorry i couldn't pin point when the error occurs, but in few instances i get interrupted during the connection with that error.

[2021-02-04 12:52] humcasma opened #71 "URL for Cloudfared binary broken"
**Describe the bug**
The url for the cloudfared binary is no longer working. The new url is https://bin.equinox.io/c/VdrWdbjqyF/cloudflared-stable-linux-386.tgz

[2021-02-04 15:07] ky1ee commented on #71
may I ask how do I make the changes?

[2021-02-04 17:01] WassimBenzarti commented on #71
Hello @humcasma,
Thank you for opening this issue. When I ran colab-ssh with cloudflared everything works fine. Could you please specify which link are you talking about ?

@ky1ee
It looks like cloudflared didn't download, it looks like the website `equinox.io` (where cloudflare is hosting the cloudflared package) went down.

Apparently everything is back to normal. I will keep this issue open in

[2021-02-04 17:04] WassimBenzarti commented on #70
Hello @AwaleSajil,

Whenever this happens, feel free to reopen this issue and if you could, please make sure you keep some lines from the logs so we can debug the issue. :)

Thank you for using colab-ssh :)

[2021-02-04 17:04] #70 closed

[2021-02-04 17:04] #69 closed

[2021-02-04 17:45] humcasma commented on #71
I was referring to this url: https://bin.equinox.io/c/VdrWdbjqyF/cloudflared-stable-linux-amd64.tgz

`equinox.io` was actually working this morning, but the `amd64` binary was not available. I can confirm that binary is available again and the url is working. So you may close this ticket.

Otherwise, note that when the url was not working this morning, `launch_ssh_cloudflared()` crashed with an ex

[2021-02-05 22:10] phineas-pta commented on #25
may I suggest to add support for X11 forwarding ?

[2021-03-02 07:33] xd003 opened #73 "Any available cloudflared binary for arm64 (aarch64) ?"
Its been quite a long time since i last used colab . After the ngrok issue , i am trying it for first time currently

Majority of the times i use colab ssh on my android device. This URL for downloading the binaries - https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/install-and-setup/installation doesn't list any arm64 /aarch64 binary which i can use in termux ? It has qui

[2021-03-02 07:36] xd003 commented on #73
Found the arm64 binary on their github releases page . They should ideally even have it on the main download page but nevertheless here it is - https://github.com/cloudflare/cloudflared/releases
Closing this now

[2021-03-02 07:36] #73 closed

[2021-03-10 18:18] pvmilk opened #75 "[alternative solution] Allow ssh access through ssh-key directly through launch_ssh_cloudflared()"
**Is your feature request related to a problem? Please describe.**
This is a not problem, but typing password every times is a bit bothersome.

**Describe the solution you'd like**
Allow public key to be specified directly in launch_ssh_cloudflared(), as an alternative to password.

And I think it can be cone easily by,
[code]

**Describe alternatives you've considered**
I think this could be an e

[2021-03-10 18:44] WassimBenzarti commented on #75
Hello @pvmilk, good to see you around here :)
Welcome to the colab-ssh community!

I agree that this could make things a bit easier. Since the latest changes, the password has to be typed each time the user chooses a folder on VSCode.
I will look into it in the next few days. If anyone wants to help, they are absolutely most welcome.

Have a great rest of the day!

[2021-03-27 17:23] GarrettLee opened #76 "Pycharm remote debugging is not supported"
On my windows PC, I can connect to colab via powershell. However, when configuring pycharm remote debugging, it always shows that 'timout'
![图片](https://user-images.githubusercontent.com/22522377/112728844-3003f780-8f64-11eb-9419-0f8df1099bc2.png)

[2021-03-27 17:35] bjourne opened #77 "New environment variable TF2_BEHAVIOR"
This environment variable is required for TPUs to work through ssh. It was added today and it took me a while to figure out why my TPU models suddenly stopped working. :)

In launch_ssh_cloudflared.py I see that you have a "whitelist" with variables to export. May I suggest a "blacklist" approach instead, so that you export all environment variables found except for a list of ephemereal ones? I th

[2021-04-05 16:19] taicaile opened #78 "Is ssh-via-cloudflared still working now? [2021-04-06]"
Hello,

I am using Colab-ssh before and it is working well.

Today I am trying to use the same notebook and it shows following error:

**port 22: Connection timed out**

I would like to confirm if there is a problem with Colab right now?

[2021-04-05 18:57] WassimBenzarti commented on #78
Hello @taicaile,

Yes it should be working. If you faced any issues, please share with us a snippet of your code so we can reproduce the bug :)

[2021-04-06 01:35] taicaile commented on #78
Hello,

I figured it out. I am using a new machine and I forgot to config ```~/.ssh/config```.

Thanks.

[2021-04-06 01:35] #78 closed

[2021-05-05 05:22] sakhan007 opened #80 "packet_write_wait: Connection to UNKNOWN port 65535: Broken pipe"
The SSH connection was working perfectly till I had to take a little break and then the above message appeared. I just want to know how can I prolong this timeout? if it is a timeout.
How can I know the amount of time of inactivity I have?

[2021-05-06 17:24] ldgarcia opened #81 "Add support for Gitlab repos"
**Is your feature request related to a problem? Please describe.**
Add support to clone Gitlab repos.

**Describe the solution you'd like**
The solution would work with the same current interface, just different parameter values.

**Describe alternatives you've considered**
I've implemented a solution and tested it using Google Colab. I will open a PR so that you can review the proposed changes.

[2021-05-07 14:00] WassimBenzarti commented on #80
Hello @sakhan007,
Thank you for raising this issue,
Unfortunately I am not sure there is a way to know exactly the timeout nor the inactivity time spent.
From my experience, the only way to keep the notebook active is by running code snippets every now and then on the UI (and avoid keeping the notebook inactive for about an hour)

Hope this helps! :)

[2021-05-09 00:35] sakhan007 commented on #80
Thanks for responding!
It was very helpful.

[2021-05-09 00:35] #80 closed

[2021-06-09 12:39] Butzz01 opened #83 "ConnectionRefusedError"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-06-09 13:09] WassimBenzarti commented on #83
Hello @Butzz01, Welcome to colab-ssh community.
Thank your submitting this issue.

We highly recommend that supply more information than the title "ConnectionRefusedError". Can you please share with us the snippet that resulted in such error.

Thank you

[2021-07-27 14:54] msmurgui opened #85 "Exception: It looks like something went wrong, please make sure your token is valid"
**Describe the bug**
When trying to execute the line
`launch_ssh_cloudflared(password='my-pass')`
this error rises:

[code]

I have been using this approach for some time now, and this is the first time it arises...

**To Reproduce**
Steps to reproduce the behavior:
Connect to a colab instance (GPU) and run the following code (replacing passwords, github links to repos, and other personal info):

[2021-07-27 15:57] msmurgui commented on #85
**Update**
I tried running launch_ssh_cloud on verbose mode (passing the parameter verbose=True) and got the following error messages:
[code]

The exception is comming from this [line](https://github.com/WassimBenzarti/colab-ssh/blob/64edcc8cd0aa115f51ddea6af4f838f6ad7989fa/colab_ssh/get_tunnel_config.py#L23)

[2021-07-27 16:42] WassimBenzarti commented on #85
Hello @msmurgui, Welcome to the Google Colab Community!
Thank you for submitting this issue.

I confirm that there is something wrong with the connection to cloudflare. It looks like it's a cloudflare related issue. I am going to debug this and see what's wrong.

Have a great day!

[2021-07-27 17:13] Covernel commented on #85
@WassimBenzarti
**cloudflared_tunnel_user_hostnames_counts** does not exist on metrics server at latest cloudflared version 2021.7.2.
The connection is created, but it cannot get the address from metrics server.

[2021-07-27 17:19] msmurgui commented on #85
Hi! thanks for the rapid response!! Indeed, what @Covernel states is true. I actually found the hostname created for the tunnel at /content/cloudflare.log, so I directly 'ssh'ed to that hostname.

[2021-07-27 18:15] WassimBenzarti commented on #85
Hello @Covernel, thank you for the tip, I can confirm this. I will release a new version right away that uses the logs provided in the `cloudflared.log` file as mentioned by @msmurgui .

[2021-07-27 20:30] jackycote commented on #85
I'm still experiencing the same "make sure your token is valid".

Debug show "DEBUG: Exception: Cannot get any result from cloudflared metrics"

Is there a workaround until the fix is pushed ?

Thanks for your help.

[2021-07-27 20:47] msmurgui commented on #85
@jackycote I got this workaround by copying a part of the library and rewriting some staff (obviously a temporal and messy patch)
[colab workaround](https://colab.research.google.com/drive/14bSEiSDAcM2i2JsjBWPSyO4p20OFnJP0?usp=sharing)

When you run it, check the file /content/cloudflared.log and you should see something like [this](https://github.com/WassimBenzarti/colab-ssh/issues/85#issuecommen

[2021-07-27 20:52] jackycote commented on #85
@msmurgui thanks will give it a try !

[2021-07-27 21:36] WassimBenzarti commented on #85
Thank you @msmurgui for providing the workaround 👏 .

I can't seem to connect to the cloudflared tunnel.
Did anyone of you succeed to connect to the SSH tunnel through cloudflared ? (by looking up the log file for the url) @jackycote @msmurgui @Covernel ?

[2021-07-27 22:01] WassimBenzarti commented on #85
I fixed the issue (URL parsing) and released an new patch. Unfortunately, I can't connect with  cloudflared for some reason. Hopefully this is a temporary issue with cloudflared.

If you still face this issue, I highly recommend that you give Ngrok a try. Check out the [documentation here](https://github.com/WassimBenzarti/colab-ssh/blob/master/docs/ngrok/ngrok.md).

[2021-07-27 22:05] WassimBenzarti commented on #85
Just tested cloudflared and ngrok again, and they both work! 😅
I would like to thank everyone for their time and effort 😄

[2021-07-27 22:05] #85 closed

[2021-07-27 22:06] msmurgui commented on #85
@WassimBenzarti I added the init_git_cloudflared function on the [colab](https://colab.research.google.com/drive/14bSEiSDAcM2i2JsjBWPSyO4p20OFnJP0?usp=sharing) and the hostname show on the log file

[2021-07-27 22:07] msmurgui commented on #85
Im glad!!

[2021-07-28 01:39] jackycote commented on #85
Thanks for the quick turn around!

[2021-07-28 12:44] l-oneil opened #86 "VS Code Integration Broken"
**Describe the bug**
The July 27th Release appears to have broken my interaction with VS Code + `colab_ssh`..

I'm not sure whether this release was required to fix something that had changed on VS Code / Colab side?
I have set up my repo exactly as described in your instructions - I have used this colab script 100's of times and it's always worked - it broke on 27th.

**To Reproduce**
Steps to re

[2021-07-29 20:43] l-oneil commented on #86
Ok, to follow up this answer has helped me:
https://github.com/microsoft/vscode-remote-release/issues/4138#issuecomment-738956513

It seems that the `lock` that VS Code is trying to aquire here:
[code]
Is struggling to find the correct path, as it is assuming `vscode-remote-ssh-https:` is a separate directory due to the `/` separator.

I have managed to fix the problem by copying in the link witho

[2021-07-30 09:07] WassimBenzarti commented on #86
Hello @l-oneil, Welcome the colab-ssh community!

Thank you for submitting this issue, I will take a look at this in the upcoming days. If anyone can look into this problem I would be happy to accept pull requests.

Have a great day!

[2021-08-19 11:29] joihn commented on #76
same behaviour on Ubuntu 20. I can connect fine via termnial and "classic" ssh however

[2021-08-20 15:28] WassimBenzarti commented on #86
Currently working on a fix, should be ready in few minutes

[2021-08-21 17:32] #86 closed

[2021-08-21 19:51] WassimBenzarti commented on #81
The issue is fixed by #82

[2021-08-21 19:51] #81 closed

[2021-08-27 21:41] fdsaqwer22 opened #88 "ok"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-08-28 11:54] WassimBenzarti commented on #88
This is a meaningless issue, please don't post useless things @fdsaqwer22. Have a nice day.

[2021-08-28 11:55] #88 closed

[2021-09-12 17:17] geoHeil opened #89 "bad handshake"
**Describe the bug**
the connection does not wor (and fail for me) on osx with:
[code]

after setting up the SSH config file as suggested in the client machine configuration by launch_ssh_cloudflared

**To Reproduce**
Steps to reproduce the behavior:
1. Go to colab
2. install & launch launch_ssh_cloudflared: `!pip install colab_ssh --upgrade`
2.1 imports: `from colab_ssh import launch_ssh_cloudfla

[2021-09-12 17:37] geoHeil commented on #89
When subsequently stopping & restarting (= probably getting a runtime on a different collab host:

[code]

when entering the password an SSH connection seems to be established.
I will try to test it in some minutes

[2021-09-12 17:43] geoHeil commented on #89
But it is unstable. (at least for me). Oftentimes I still get the WebSocket error message.

[2021-09-12 18:16] geoHeil commented on #89
But if the connection works, port forwarding works reliably. This is good.

Do you have any suggestion why it seems to only work on every second start of a collab VM for me?

[2021-09-12 19:46] WassimBenzarti commented on #89
Hello @geoHeil, Welcome to colab-ssh community. Thank you for submitting this issue.

If I understand correctly, the connection only gets established after the first try (which fails). Correct ?

[2021-09-13 07:09] geoHeil commented on #89
Cool thanks! But didn`t you switch to cloudflared due to some hiccups in Collab? I was using the old method and was redirected / strongly suggested to use this new method.

I think having this partially working state is good enough for me for now.

[2021-09-14 09:08] WassimBenzarti commented on #89
At colab-ssh we highly care about the stability of the library, the ngrok method has stopped working for unclear reasons frustrating all developers using colab-ssh, even though it's working again now, it's important that we ensure that the interruption won't happen again or at least very unlikely to happen again. Therefore, we are closely monitoring the stability of both cloudflared and ngrok, and

[2021-09-14 09:10] WassimBenzarti commented on #89
I am going to close this for the time being, if anyone faces a similar issue feel free to comment or [create a new issue](https://github.com/WassimBenzarti/colab-ssh/issues/new).

[2021-09-14 09:10] #89 closed

[2021-09-27 17:46] JayThibs opened #90 "init_git_cloudflared asking for github username and password"
**Describe the bug**
Last night I was able to use colab-ssh locally, but now `init_git_cloudflared` is asking me for my GitHub username and password. This makes it impossible to connect with `init_git_cloudflared` because we can't connect to GitHub via username and password anymore (we need to use the personal access token, which is what I've been using).

So, even if you put in your username and

[2021-09-27 18:29] JayThibs commented on #90
Nevermind, I changed the location of my mounted gdrive, but did not change the location of my .env filepath.

[2021-09-27 18:29] #90 closed

[2021-09-28 06:25] mldurga opened #93 "will there be any bug due to change of github username previously?"
while I am trying to  launch ```init_git_cloudflared``` its throwing error saying ```[git::ERROR] fatal: Remote branch main not found in upstream origin``` saying I need to check my username and password. I checked everything on my side. Is there any possibility that my change of username previously effects this code. I even tried with both old username and new one. both are failing. Its entirely

[2021-09-28 07:56] WassimBenzarti commented on #93
Hello @mldurga, welcome to the colab-ssh community!

I think the error you are getting is probably because there is no branch named "main" in your repository. To verify that, go to your repository on github and find the defaut branch name, it's maybe called "master" (or even something else). In that case, take the branch name and put it in the optional parameter `branch` of the function `init_git_

[2021-09-28 12:04] mldurga commented on #93
Thats really great. worked for me. Thank you Wassim.

[2021-10-03 10:18] bansal1997 opened #94 "Error while trying to connect"
Hi,

I am getting this error while connecting to host. Please help me with this.

![Screenshot 2021-10-03 154353](https://user-images.githubusercontent.com/32077248/135749258-ccf1d663-cf75-4d2c-9f31-99d9219ee425.png)

[2021-10-03 12:41] WassimBenzarti commented on #94
Hello @bansal1997, Welcome to the colab-ssh community!

Did you finish [the client machine configuration](https://github.com/WassimBenzarti/colab-ssh#getting-started) ? Did you add the few lines in your SSH config ?

[2021-10-03 13:20] WassimBenzarti commented on #93
We are currently preparing a series of tutorials on how to setup and use colab-ssh. For now, we would love it if you could provide  us with some minimal reproduction steps so we can look into the issue you are having. I recommend opening a new issue so others facing the same problem can find a solution easily.

Have a nice day! :)

[2021-10-03 13:20] #93 closed

[2021-10-03 15:12] bansal1997 commented on #94
Hi @WassimBenzarti , Yes I added those lines in the config file.

Here is the snippet-

[code]

[2021-10-09 11:34] WassimBenzarti commented on #94
Hey @bansal1997, apologies for the late reply. I have been busy with work lately.
I think the problem with your setup is that you downloaded the cloudflared binary of Linux not windows. I guess your OS is Windows 10 right ?

[2021-10-09 13:50] bansal1997 commented on #94
Hi @WassimBenzarti ,

Thank you for your reply!!

I downloaded the executable cloudfared file for windows and added the path in config file but still the same problem persists.

I have a doubt here, you have mentioned that after downloading the cloudfared file(executable for windows) add the absolute path to cloudfared binary. But I am not getting where is this binary file? Sorry if this sounds fo

[2021-10-09 14:02] bansal1997 commented on #94
I have tried to connect many times but it doesn't work. Let me know if you think of any reason behind this behavior.

[2021-10-09 14:27] bansal1997 commented on #94
It gives this error while trying to connect with terminal.

[code]

[2021-10-09 15:13] bansal1997 commented on #94
Nothing seems to work :(

[2021-10-09 17:41] #57 closed

[2021-10-11 16:45] AqilAkmal commented on #94
Hey, I also have the same problem.

This part works fine:
![colab](https://user-images.githubusercontent.com/62086734/136825662-f41fb55a-f596-4307-9a75-c4521f4354cf.jpg)

The absolute path of cloudflared:
`C:\Users\muham\colab-ssh\cloudflared-windows-amd64.exe`

SSH Config file
[code]

When using terminal:
[code]

When using VS code:
Failed to connect to the remote extension host server (Error: Th

[2021-10-11 17:36] taicaile opened #98 "`cloudflared-stable-linux` download link broken"
Hello,

The download link of  `cloudflared-stable-linux` is already broken as I just tested.

https://github.com/WassimBenzarti/colab-ssh/blob/eaf06cef041cbed4155c733e89e5d9b84130098a/colab_ssh/launch_ssh_cloudflared.py#L29

Below is the test result,
[code]

[2021-10-11 17:55] #98 closed, assigned to nobody

[2021-10-11 18:39] WassimBenzarti commented on #98
Done. Thank you again. Could you please try the new minor version and check if it works?

[2021-10-12 01:50] AqilAkmal commented on #94
I still have the same error.

When trying to use the link from cloudflared.log:
[code]

When copying from the colab output:
[code]

[2021-10-12 09:04] WassimBenzarti opened #101 "Cannot connect using VSCode"
When connecting through VSCode, I encounter this error
![image](https://user-images.githubusercontent.com/20246795/136925955-51ddb68e-3e03-4cb2-859a-a231a60d892c.png)

But when connecting through the terminal or the Command line, it connects without a problem.

[2021-10-13 16:19] WassimBenzarti commented on #94
I am very happy to hear that you solved the issue. Thank you so much @AqilAkmal for sharing the detailed steps after you got it to work. That will definitely help anyone encountering this issue.

Unfortunately, it's hard to tell the main problem for this, but I encourage anyone who solved this issue to share with us the steps they followed to fix this.

[2021-10-14 20:59] mritunjaymusale opened #102 "Run a script from cloned repo(for setting up proper dependencies,etc)"
**Is your feature request related to a problem? Please describe.**
I have to manually set up my dependencies and dataset downloads each time after I connect using VSCode

**Describe the solution you'd like**
I have created a shell script that sets the colab Vm with all my datasets and proper depencies, I just run that script and I can start working, it would be better if the `init_git_cloudflared`

[2021-10-25 18:52] joaomamede opened #103 "Cloudflared connection via account"
Hello, I would like to start a cloudflare argo tunnel through my cloudflare account and application that is well configured.
As I see from the code it's not possible to do so correct? (only free anonymous tunnels?)

I would like to request to have an option to do so?
https://developers.cloudflare.com/cloudflare-one/tutorials/ssh

[code]
add the config.yml file example from the tunnel above:
[code]

[2021-10-28 05:42] taicaile opened #105 "Restart ssh service after updating the sshd configuration"
Hello, the `service ssh start` might be better changed to `service ssh restart`  in case the ssh service already started.

https://github.com/WassimBenzarti/colab-ssh/blob/602f69fb25e12ff5119fcad4b6a536f16221b7ac/colab_ssh/launch_ssh_cloudflared.py#L56

to

[code]

[2021-11-01 20:10] WassimBenzarti commented on #105
Hello again @taicaile :)

Thank you for filing this issue, I think this is very relevant. I will be creating a pull request as soon as possible.

Thank you for making colab-ssh amazing :)

[2021-11-01 21:08] WassimBenzarti opened #110 "[Bug]: Test issue"
### Jupyter notebook

_No response_

### What happened?

A bug happened!

- [ ] #111
- [ ] Something badd!
- [ ] Hollyy molly

### What did you expect?

A bug happened!

### Version

- [X] latest

### Which version (if not the latest)?

_No response_

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-11-01 21:08] WassimBenzarti opened #111 "Something not good"

[2021-11-01 21:08] #110 closed

[2021-11-01 21:08] #111 closed

[2021-11-12 23:26] joaomamede commented on #103
I just made a fork that should do it (if you provide a tar.bz2 with all the same certificates and configurations (as in my initial post).
My plan would be to separate the download of cloudflared etc, and then have another function to do like yours do, and a 3rd to do it with a personal domain config!

https://github.com/joaomamede/colab-ssh

[2021-12-08 23:03] neel04 opened #113 "[Bug]: Running on Kaggle Notebooks"
### Jupyter notebook

Kaggle

### What happened?

Code to reproduce:-
[code]
In any Kaggle notebook @ `CPU` runtime.

### What did you expect?

Everything to run smoothly, obtaining the VScode ID to remote SSH in the instance

### Version

- [X] latest

### Which version (if not the latest)?

_No response_

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project'

[2021-12-12 12:19] WassimBenzarti commented on #113
Hey there @neel04, Thank you for submitting this issue on Github. Welcome to the Colab-SSH community!

Unfortunately for the time being, we don't support Kaggle. Nevertheless, we are planning on supporting Kaggle and many other Notebooks early next year 2022.

Although the official support is not ready yet, for anyone struggling with this, try to look into the errors faced within Kaggle and share

[2021-12-24 12:10] nityanand86876 commented on #68
i also want it

[2022-01-18 12:14] StrOrx12 opened #115 "[Bug]: WTF!? It start miner in my session."
### Jupyter notebook

Google Colab

### What happened?

It start miner named "lolMiner" and start mining crypto. It's not acceptable
fix it or I gonna report github

### What did you expect?

It start miner named "lolMiner" and start mining crypto. It's not acceptable
fix it or I gonna report github

### Version

- [x] latest

### Which version (if not the latest)?

_No response_

### Relevant log

[2022-01-18 13:41] WassimBenzarti commented on #115
Hello @StrOrx12,

The title of the issue violates the rules of our [Code of Conduct](https://github.com/WassimBenzarti/colab-ssh/blob/master/CODE_OF_CONDUCT.md). This is not acceptable.

Colab-SSH is an open source tool that many people improved for the last 2 years. Within our code we do not use any kind of hidden processes and we use official well-known third party software. That's the whole poi

[2022-01-18 13:41] #115 closed

[2022-02-05 07:56] pranavAbe opened #116 "[Feature]: VS Code button in Colab to directly open local VS Code instance into a pre-configured folder"
### Source problem

When I'm working with Colab, I store my project files on Google Drive under a particular folder. After initiating a Colab SSH connection and opening it from VS Code, I have to manually navigate through from the root folder on the Colab VM, all the way into my mounted Google Drive folder where my project files are stored to open them on VS Code and work with the files.

### Feat

[2022-02-06 08:14] pranavAbe commented on #116
So, I've done some digging into this on my own, and as much as I would like to make a Pull Request, I'm not entirely sure how to test and make sure there isn't any missing logic that might break functionality. I'll leave my findings here so you can build them into the project if you're interested, but if you would rather that I try and make a Pull Request, I'll try my best to work on it and build

[2022-03-06 00:20] openwick opened #117 "[Feature]: X11 Forwarding Support?"
### Source problem

X11 forwarding is useful if you want to work with graphical applications

### Feature you like

X11 Forwarding by default

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-24 14:23] danielTobon43 opened #118 "[Bug]: NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver"
### Jupyter notebook

_No response_

### What happened?

Hi there.

I created a session with `ssh victim-treat-consequently-scanning.trycloudflare.com` in my terminal and when I tried to check the nvidia gpu in the collab session I got an error that the driver could not be found.

![Screenshot from 2022-03-24 09-19-31](https://user-images.githubusercontent.com/35694200/159936982-8d04da0f-250d-46d5

[2022-03-29 22:54] WassimBenzarti commented on #118
Hello @danielTobon43, welcome to colab-ssh community!

Thank you for submitting this issue!

We know that GPU usage is a necessity for several Google Colab users. We will put this on our radar for the next release.

Happy coding!

[2022-04-03 15:44] openwick commented on #117
Hi @WassimBenzarti X11 forwarding enables us to run GUI applications over SSHwithout the need to install any VNC or RDP. If I want to render something and want to visualize it X11 forwarding is one way to do it and efficient compared to full RDP.
This [video](https://youtu.be/FlHVuA_98SA) demonstrates how to use it and some use cases in the beginning.

[2022-04-16 00:37] bobguo1995 commented on #45
This is now working perfectly however the Cloudflare ones is acting wired

[2022-04-26 11:44] danielTobon43 commented on #118
I found a post that covers my question.

https://imadelhanafi.com/posts/google_colal_server/

[2022-04-26 11:44] #118 closed

[2022-05-02 13:15] Drago991 commented on #45
How did you run ngrok? It will work by running the command like this.
`ngrok tcp 22`
After that you won't get any error by connecting via openssh. Remmber to mention the relevent port.

[2022-05-09 12:15] 0xrushi opened #119 "[Bug]: ERR failed to connect to origin error="tls: first record does not look like a TLS handshake""
### Jupyter notebook

Google Colab

### What happened?

I have this in my ~/.ssh/config

[code]

But I'm getting

[code]

### What did you expect?

successful ssh

### Version

- [X] latest

### Which version (if not the latest)?

_No response_

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-05-12 02:20] WassimBenzarti commented on #119
Hello @rushic24, happy to see you here.

Apologies for the late reply, I have been very busy with work. I will be looking into the problem you raised this weekend.

Sorry for inconvenience 🙏

[2022-05-21 12:46] Covernel commented on #119
@WassimBenzarti
FYI, Google updated the colab FAQ (https://research.google.com/colaboratory/faq.html) and disallowed SSH. It is extremely easy to get permanent ban now.

[2022-05-21 16:22] WassimBenzarti commented on #119
Thank you @Covernel for informing me of this change.

[2022-05-21 17:26] rushic24 commented on #119
Oh, I think even before it was not allowed

[2022-06-03 11:19] tgpsantos opened #120 "[Bug]: Different PATH"
### Jupyter notebook

Google Colab

### What happened?

Hello guys,

I've started using Colab SSH and I've realized I couldn't run `gcloud` nor `gsutil` directly from the ipynb, I get an error saying the command was not found. This is the way it works in the Colab Notebook web.

After digging a bit it seemed like the cause is simply the path not being directing to the actual directory where the sc

[2022-06-03 16:25] tgpsantos opened #121 "[Bug]: timeout disconnection few minutes after connecting"
### Jupyter notebook

Google Colab

### What happened?

Hi guys,

Every time I connect to Colab using VS Code the machine disconnects everything works great for 5-10 minutes until it disconnects, independently whether I'm running code or not.

I tried running an endless script in the web side to try to prevent it from disconnecting like this
[code]

but got no luck..

Any idea why this happens?

A

[2022-06-12 19:46] Kity2023 commented on #121
I met the first problem too. Colad always disconnects.
Dose Google Colab ban colab_ssh?
In README.md, it says:
    Google Colab | Recently prohibited by Google Colab
It may be the reason.

[2022-07-11 23:44] ZZYSonny opened #122 "[Feature]: Expose Jupyter URL"
### Source problem

_No response_

### Feature you like

VSCode Jupyter supports connecting to a remote Jupyter notebook URL. We can similarly expose the Jupyter server to public network. I think this will be a good option for people who want better intellisense from VSCode but do not want to be banned from using SSH.

Benefit:
Not running SSH. It may help bypassing colab restriction, or at least

[2022-08-15 07:40] anu43 commented on #121
That warning disappears if you integrate Cloudflare.

[2022-08-16 13:27] KorewaLidesu commented on #113
[code]

I have try this command, the result is the same sadly.

[2022-08-21 15:50] CraftBlack opened #123 "[Bug]: command: notepad .ssh\config [I get nothing]"
### Jupyter notebook

Google Colab

### What happened?

I get as far as renaming path, setting up cloudflared name, etc. however when trying to do .ssh config or notepad .ssh\config, I get nothing. I see a .config file in the path but it’s trying to read as a YAML file and no notebook files. I reinstalled cloudflared and nothing. I’ve been stuck a day on a seemingly simple thing.

### What did you

[2022-10-17 11:57] nowhereman1999 commented on #94
@WassimBenzarti Hi,sorry to bother you,I can successfully connect the colob with my terminal and vscode shown below：
![image](https://user-images.githubusercontent.com/53631206/196170131-ff054e7d-1b85-4736-bdf8-c98655ccdb9c.png)
![a55eecf9d9b139d514e19669ba35f7d](https://user-images.githubusercontent.com/53631206/196170142-8a96cd12-e3d7-4955-b1b9-ef7ec733a880.jpg)
but when I use vscode to connect